@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
:root {
  /* CSS HSL */
  --green-crayola: hsla(158, 68%, 42%, 1);
  --primary-color: var(--green-crayola);
  --eerie-black: hsla(0, 0%, 14%, 1);
  --black: hsla(0, 0%, 14%, 1);
  --black50: hsla(0, 0%, 14%, 0.5);

  --white: hsla(0, 0%, 94%, 1);
  --orange-crayola: hsla(17, 98%, 59%, 1);
  --shocking-pink: hsla(312, 82%, 55%, 1);
  --cyber-yellow: hsla(50, 99%, 50%, 1);
  --jonquil: hsla(48, 82%, 55%, 1);
  --kutsche: hsla(48, 82%, 55%, 1);
  --carnelian: hsla(0, 75%, 40%, 1);
  --header-red: hsla(0, 75%, 40%, 1);
  --red-pigment: hsla(0, 82%, 55%, 1);
  --direct: hsla(0, 82%, 55%, 1);
  --dark-red: hsla(0, 86%, 29%, 1);
  --electric-indigo: hsla(259, 82%, 55%, 1);
  --cargo: hsla(259, 82%, 55%, 1);

  --border-radius: 3px;
  --shadow: 0 3px 6px var(--black50);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  min-height: 100vh;
  /* margin: 1rem; */

  display: grid;
  place-content: center;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Goldman", cursive;
}
